
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
Its time to vote for the best football player in the worls since 2000! 
There have been arguments whether Messi and Ronaldo are the best soccer players the world has ever known, is that how you see it ? its your time 
to name a player you think has outperfomed others .The poll closes on Sunday 7 , January 2018


@Html.ActionLink("Go to voting form", "Create")

